.image-container_c {
    position: relative;
    display: inline-block;
  }

  .image-container_c::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    pointer-events: none; /* Added this line */

  }

  .image-container_c:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }

  .image-container_c:hover .overlay-text {
    display: block;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
    display: none;
  }

  .overlay-text a {
    width: 100%;
    font-size: 7rem;
    color: white; /* Set the text color to white */
    text-decoration: none; /* Remove underline */  }